  .firefly {
  width:5px;
  height:5px;
  position:absolute;
  background-color: #ff9228;
  box-shadow:0px 0px 17px 2px wheat;
  border-radius: 50%;
  opacity: 1; 
}

.container {
/*   width: 30%; */
  margin: 0 auto;
  height: 90vh;
  position: back;